body {
    margin: auto;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    /* width: 80%; */
}

.mob-nav {
    display: none;
}

.active {
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
}

.menubar {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.mobile-navbar {
    position: absolute;
    top: 6rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white
}


.navbar {
    display: flex;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-between;
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: white;
    cursor: pointer;
}

.profilerName {
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 1px 1px grey;
}

.navbar-headers {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

#profile {
    display: flex;
    gap: 30px;
    padding: 40px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.ImageProfile {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.aboutProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hello {
    font-size: 13px;
}

.profileName {
    font-size: 27px;
    font-weight: 700;
}

.profilerAbout {
    font-size: 17px;
    font-weight: 500;
}

.contactLinks {
    display: flex;
    justify-content: center
}

.linkedin {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.github {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

#about {
    margin: 0 auto;
    padding: 10px 40px;
}

.aboutMe {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.aboutHead {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.educationContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid #000000;
    /* max-width: 300px; */
    padding: 20px 60px;
    border-radius: 20px;
}

.educationContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid #000000;
    /* max-width: 300px; */
    padding: 20px 100px;
    border-radius: 20px;
}


.education {
    object-fit: cover;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.profileImage {
    object-fit: cover;
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.aboutMePara {
    margin: 40px 0;
}

.experience {
    object-fit: cover;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.ExpEduc {
    display: flex;
    gap: 20px;
    /* width: 300px; */

}

#experience {
    margin: 0 auto;
    padding: 20px;
}

.experienceHead {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.experienceContainer {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.couseName {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.couseLogo {
    object-fit: cover;
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
}

#projects {
    margin: 0 auto;
    padding: 20px;
}


.projectHead {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.projectsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid grey;
}

.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.projectTitle {
    font-size: 20px;
    font-weight: 700;
    margin: 5px;

}

.links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.gitLink {
    background-color: white;
    padding: 8px 30px;
    color: #000000;
    border: 2px solid grey;
    border-radius: 20px;
}



.DemoLink {
    background-color: white;
    padding: 8px 30px;
    color: #000000;
    border: 2px solid grey;
    border-radius: 20px;

}

.gitLink a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.DemoLink a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#contact {
    margin: 0 auto;
    padding: 20px;
}

.contactHead {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.contactContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    align-items: center;
    margin: 30px;
}

.contactIcon {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.contactInfo a {
    text-decoration: none;
    color: #000000;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: white;
    position: sticky;
    bottom: 0;
    color: rgb(108, 104, 104);
}

@media screen and (max-width: 720px) {
    .navbar-headers {
        display: none
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .mob-nav {
        display: flex;
        flex-direction: column;
    }

    .profilerName {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #profile {
        display: flex;
        flex-direction: column;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
    }

    #about {
        padding: 20px 40px;
    }

    
    .profileImage {
        object-fit: cover;
        width:  -webkit-fill-available;
        height: auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ExpEduc {
        display: flex;
        flex-direction: column;
    }

    .experienceContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .educationContainer1 {
        /* width: 265px; */
        padding: 20px;
        align-items: center;
    }

    .educationContainer2 {
        /* width: 265px; */
        padding: 20px;
        align-items: center;
    }

    .aboutMePara {
        text-align: justify;
    }

    .courseContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #projects {
        padding: 45px;
    }

    .projectsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
    }

    .footer {
        font-size: 11px;
    }
}